---
import SingleButton from "@atoms/SingleButton/SingleButton";
import HeroImage from "@atoms/HeroImage/HeroImage.astro";
import "./hero.css";
import AnimatedButton from "@src/components/atoms/AnimatedButton/AnimatedButton.astro";
---

<section class="hero parallax-container">
  <div class="hero__container">
    <div class="hero__content">
      <h1 class="hero__title text-gradient">Convierte tus sueños en imágenes</h1>
      <p class="hero__text">
        Con el Generador de Arte Frida AI. Da vida a tus ideas y crea obras
        visuales asombrosas.
      </p>
      <!-- buttons -->
      <div class="hero__buttons">
        <AnimatedButton />
        <SingleButton buttonclass="btn-base" text="Contacto" />
      </div>
    </div>
    <HeroImage />
  </div>
  <div class="image  bg__middle">
    <div class="card__container">
      <div class="card__parallax "></div>
    </div>
    <div>
      <div class="card__parallax "></div>
    </div>
    <div>
      <div class="card__parallax "></div>
    </div>
    <div>
      <div class="card__parallax "></div>
    </div>


  </div>
</section>
