.subtitle {
    font-size: 4rem;
    background: var(--radial-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}