---
import "./header.css"
import HeaderMenu from "@components/atoms/HeaderMenu/HeaderMenu";

---

<header class="header">
  <div class="header__container">
    <img
      class="header__logo"
      src="https://i.postimg.cc/RhxGxT03/2.png"
      alt="logo"
    />
    <HeaderMenu client:load />

  </div>
</header>
