.image__container {
    width: fit-content;
    overflow: hidden;
    padding: 2rem;
    border-radius:45px;
    background-color: rgba(168, 168, 168, 0.171);
    backdrop-filter: blur(20px);
    align-self: center;
    min-width: 27rem;
    filter: drop-shadow(0 0 0.75rem black);
    min-height: auto;
    transform: translateZ(5px) scale(0.75);
    transform-origin: top;
    z-index: 10;
    @media screen and (max-width:768px) {
        width: 36rem;
    }
    .hero__img {
        border-radius: 30px;
        width: 97rem;
        height: auto;
        object-fit: cover;
    }
}