---
import SubTitle from "@src/components/atoms/HeroImage/SubTitle/SubTitle";
import "./caracteristicas.css";
---
<script>
// Cat animation
  import "@controllers/caracteristicsObserver";
</script>

<section class="caracteristics" id="caracteristicas">
  <SubTitle content="Características" textAlign="center" />
  <div class="caracteristics__container">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit inventore
      magnam iure minima obcaecati incidunt dolorum. Veritatis, nemo eos?
      Debitis magni voluptatibus, ab repellendus pariatur obcaecati odit numquam
      quam itaque!
    </p>
    <div class="caracteristics-image__container">
      <img class="cat__img" src="../img/ia-img/astro-cat-bg.png" alt="cat astronaut" />
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
    </div>
  </div>
</section>
