---
import SubTitle from "@src/components/atoms/HeroImage/SubTitle/SubTitle";
import "./caracteristicas.css";
---

<section class="caracteristicas">
  <SubTitle content="Características" textAlign="center" />
  <p></p>
</section>
