.hamburger {
    display:none;
    font: inherit;
    overflow: visible;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
        z-index: 50;
    @media screen and (max-width:768px){
      display: inline-block;
    }
  }
  .hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  .hamburger-inner {
      top: 50%;
      display: block;
      margin-top: -2px;
  }
  .hamburger-inner:after, .hamburger-inner:before {
      display: block;
      content: "";
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #ffff;
  }
  .hamburger-inner:before {
      top: -10px;
  }
  .hamburger-inner:after {
      bottom: -10px;
  }

  .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
      position: absolute;
      width: 40px;
      height: 4px;
      transition-timing-function: ease;
      transition-duration: .15s;
      transition-property: transform;
      border-radius: 4px;
  }


  .hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-duration: 0.13s;
  }

  .hamburger--collapse .hamburger-inner:before {
      transition: top .12s cubic-bezier(.33333,.66667,.66667,1) .2s, transform .13s cubic-bezier(.55,.055,.675,.19);
  }
  .hamburger--collapse .hamburger-inner:after {
      top: -20px;
      transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s, opacity .1s linear;
  }
  /*animation*/

  .hamburger--collapse.is-active .hamburger-inner {
      transition-delay: .22s;
      transition-timing-function: cubic-bezier(.215,.61,.355,1);
      transform: translate3d(0, -10px, 0) rotate(-45deg);
  }

  .hamburger--collapse.is-active .hamburger-inner:before {
      top: 0;
      transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s, transform .13s cubic-bezier(.215,.61,.355,1) .25s;
      transform: rotate(-90deg);
  }

  .hamburger--collapse.is-active .hamburger-inner:after {
      top: 0;
      transition: top .2s cubic-bezier(.33333,0,.66667,.33333), opacity .1s linear .22s;
      opacity: 0;
  }
