/* styles.css */

.header__menu {
  flex-basis: auto;


  .header__list {
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: 728px) {
      flex-direction: column;
      position: absolute;
      top: 0px;
      transform: translateX(100%);
      left: -13%;
      background: rgba(0, 0, 0, 0.588);
      backdrop-filter: blur(22px);
      min-height: 100dvh;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 1rem 2rem;
      width: 100vw;
      z-index: 40;
      transition: transform .4s linear;
    }

    .header__item {
      margin-right: 1.5rem;
    }
  }
}

.header__link {
  text-decoration: none;
  color: #00ffea;
}

.dropdown {
  display: none;
  position: absolute;
  top: 62%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 160px;
  max-width: 160px;
  z-index: 1;

  @media screen and (max-width:728px) {
    top: 4%;
    left: 97px;
  }
}

.dropdown__item {
  padding: 8px 16px;
  &:hover{
    background: darkgray;
  }
}

.dropdown__item:hover > .dropdown__link{
  color:aqua;
}

.dropdown__link {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}


li:hover .dropdown {
  display: block;
  background-color: #f1f1f1;
}


.header__list.is-active {
  transform: translateX(0%);
}