---
import NavLinks from "../atoms/NavLinks/NavLinks"
---

<header>
    <header class="header">
        <div class="header__container">
          <img class="header__logo" src="https://i.postimg.cc/RhxGxT03/2.png" alt="logo" />
          <NavLinks client:load/>
    </div>

</header>