---
import SingleButton from "@atoms/SingleButton/SingleButton";
import HeroImage from "../atoms/HeroImage/HeroImage.astro";
---

<section class="hero parallax-container">
  <div class="hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        "Convierte tus sueños en imágenes con el Generador de Arte Frida AI. Da
        vida a tus ideas y crea obras visuales asombrosas."
      </h1>
      <p class="hero__text">
        Leverage generative AI with a unique suite of tools to convey your ideas
        to the world.
      </p>
      <!-- buttons -->
      <SingleButton buttonclass="btn-base" text="Comenzar" />
      <SingleButton buttonclass="btn-secundary" text="Comenzar" />
    </div>
        <HeroImage/>
  </div>
</section>
<div class="image bg__middle">
  <div class="card__parallax"></div>
  <div class="card__parallax"></div>
</div>
