---
import "./features.css"
---
<section class="features">
    <h2>features</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum nobis ducimus, ad voluptas vel maiores consectetur accusantium saepe quibusdam eius laboriosam temporibus incidunt deleniti repudiandae ullam nisi exercitationem eaque alias?</p>

</section>
