---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Header from "@organisms/Header/Header.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <div class="backgroud">
      <main class="parallax-container">
        <slot />
      </main>
    </div>

    <!-- <Footer /> -->
  </body>
</html>
<style is:global>
  .parallax-container {
    width: 100%;
    perspective: 9px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding:44rem 0 0;
    align-self: center;
    @media screen and (max-width: 1366px) {
      padding: 13rem 0 0;
    }
    @media screen and (max-width: 768px) {
      padding: 10rem 0.1rem 0;
    }
  }
</style>